# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [79]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import csv
import json

# Import API key
g_api_key = 'AIzaSyBHvDMLWpcSoQzMXBCvP0_Aux8lQOu9ADc'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv("..\WeatherPy\weather_data.csv")

weather_df = weather_df.drop(columns="0")

weather_df = weather_df.drop(columns="Unnamed: 0")

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_api_key)

In [31]:
weather_df = weather_df.dropna()
weather_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,butaritari,84,KI,1584903142,79,3.07,172.79,28.15,6.47
1,victoria,0,HK,1584903076,88,22.29,114.16,25.00,2.60
2,meulaboh,40,ID,1584903202,78,4.14,96.13,28.25,3.39
3,sao jose da coroa grande,79,BR,1584903202,79,-8.90,-35.15,28.35,7.14
4,tura,0,IN,1584902903,48,25.52,90.22,21.75,1.18

In [5]:
locations = weather_df[["Lat", "Lng"]].astype(float)

humidity = weather_df["Humidity"]

In [8]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [61]:
hotel_df = weather_df.loc[:,['City', 'Cloudiness', 'Lat', 'Lng', 'Max Temp', 'Wind Speed']]

hotel_df = weather_df.loc[(weather_df['Cloudiness'] < 15) & (weather_df["Max Temp"] < 65) & (weather_df["Wind Speed"] < 5)] 

hotel_df.count()

City          86
Cloudiness    86
Country       86
Date          86
Humidity      86
Lat           86
Lng           86
Max Temp      86
Wind Speed    86
dtype: int64

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [67]:
hotel_df["Hotel Name"] = ""

hotel_df

C:\Users\daughert\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
1,victoria,0,HK,1584903076,88,22.29,114.16,25.00,2.60,
4,tura,0,IN,1584902903,48,25.52,90.22,21.75,1.18,
9,hurghada,0,EG,1584903043,48,27.26,33.81,18.00,1.16,
11,panzhihua,2,CN,1584903203,53,26.59,101.71,10.95,0.74,
17,waddan,0,LY,1584903204,22,29.16,16.14,24.25,3.83,
...,...,...,...,...,...,...,...,...,...,...
533,smidovich,0,RU,1584903270,63,48.60,133.82,-3.35,2.44,
546,norwich,0,GB,1584903272,68,52.63,1.30,6.67,4.10,
547,kalmar,0,SE,1584903272,74,56.66,16.36,0.00,3.60,
554,concordia,0,AR,1584903273,51,-31.39,-58.02,30.00,3.60,
562,taunggyi,1,MM,1584903274,55,20.78,97.03,14.95,0.85,

In [93]:
 # geocoordinates
city = "Lat, Lng"
radius = 5000
hotel = "hotel"

# set up a parameters dictionary
params = {
    "location": city,
    "radius": radius,
    "hotel": hotel,
    "key": g_api_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

print(response.url)

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=Lat%2C+Lng&radius=5000&hotel=hotel&key=AIzaSyBHvDMLWpcSoQzMXBCvP0_Aux8lQOu9ADc

In [82]:
hotel_df = response.json()


print(hotel_df["Hotel Name"])
print(hotel_df["City"])

KeyError: 'Hotel Name'

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map